# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# NOTE: the env.local file should normally be ignored
# but I've commented out the next line to include it in the lecture diffs
#/env*.local
/.next/
/node_modules/
/out/
/scripts/strapi-response.json

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


.idea
